/* next.css */


.distance {
  font-size: 1px;

}

.rounded-box {
  width: 400px;
  height: 180px;
  background-color: #8a2be2; /* 보라색을 설정할 수 있습니다. */
  border-radius: 20px; /* 각을 둥글게 하는 정도를 설정할 수 있습니다. */
  display: flex;
  color: #191616; /* 텍스트 색상을 설정할 수 있습니다. */
  font-size: 18px;
  display: flex;
  position: fixed;
  bottom: 10%; /* 아래 여백 조절 */
  right: 10%; /* 오른쪽 여백 조절 */
}




body, h1, ul, form, input, label {
  margin: 0;
  padding: 0;
}

header {
  background: #f2f2f2;
  padding: 30px 0;
  text-align: center;
  background-color: antiquewhite;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  display: flex; /* Flex 컨테이너 설정 */
}

#map {
  width: 50%;
  height: 600px; /* 높이 설정 */
}


#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 600px;
}

/* 폼 내부 요소들에 대한 스타일 */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* 폼의 너비를 form-container에 맞춥니다. */
}

.input-group {
  margin-bottom: 20px;
}

input[type="text"], button {
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}
